*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.barranav{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.link{
    width: max-content;
    height: max-content;
    padding: 10px 8px;
    background-color: rgb(255, 254, 251);
    border-radius: 20px;
    text-decoration: none;
    color: rgb(180, 35, 35);
}
.link:hover{
    transform: scale(1.05)
}