 {
    box-si
 }
.title{
    color: crimson;font-family: Arial, Helvetica, sans-serif;  /*cambia el tipo de fuente de las letras*/
    font: size 25px; large;/*cambia el tamaño de las letras*/
    font-weight: 100;
    font-style: italic;
    letter-spacing: 20px;
    
}                                                                                                                        
.parrafo{
    word-spacing: 20px;
    text-transform: uppercase;
}
.ultra{
    border-color: blue solid;width: 2px;

    padding: 100px 50px;
     margin: 50px;
     background-color: red;
}

























